
{% extends "base.html" %}


{% block content %}
<style type="text/css">
    body {
    	padding-top: 100px;
    	padding-bottom: 40px;
    }
    .row-fluid [class = "span3"]:first-child{
    	margin-left: 0;

    }
    .row-fluid [class = "span3"] {
    	margin-left: 0;
    	padding-left:2.5%;
    	padding-bottom: 2.5%;
    	padding-right : 2.5%;
    	padding-top: 2.5%;
    	background-color: white;
    }
	
	.show-grid [class*= "span"] [class*="span"] {
		background-color: transparent;
	}
	

  </style>


<body>

	{% if offer %}
	<div class = "row-fluid ">
		<div class = "span2 offset"> </div>
		<div class = "span9 ">
		

					<div class = "row-fluid show-grid ">

				
						{% for result in  offer %}
							<div class = "span3">

								<A href = "{{result.sem3_id}}/offers/">
										<div class = "span12">
											<img class = "img-responsive" src = "{{STATIC_URL}}picture.jpeg" />
										</div>
										<div class = "span12">
											{{result.name|truncatechars:30}}
										</div>
							  		
							  	</A> 

							</div>
				

						{% endfor %}

		
					
					
				
				</div>
			
		</div>
		<div class = "span1 offset"> </div>
	</div>

	

	{% endif %}



</body>




    


{% endblock %}

    
